[submodule "Contracts/lib/forge-std"]
	path = Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/lib/solady"]
	path = Contracts/lib/solady
	url = https://github.com/vectorized/solady
