[submodule "Contracts/lib/forge-std"]
	path = Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/lib/solady"]
	path = Contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "Contracts/lib/account-abstraction"]
	path = Contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "Contracts/lib/openzeppelin-contracts"]
	path = Contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
